
.form-control:focus {
    box-shadow: none;
   
}

.profile-button {
    background: #66ff66;
    box-shadow: none;
    border: none;
    margin-top: 10px;

}

.profile-button:hover {
    background: #66ff66;
}

.profile-button:focus {
    background: #66ff66;
    box-shadow: none
}

.profile-button:active {
    background: #66ff66;
    box-shadow: none
}

.back:hover {
    color: #66ff66;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}